# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Alchemy Configuration
# This shouldn't change if you're using alchemy
ALCHEMY_ETHEREUM_ENDPOINT="https://eth-mainnet.g.alchemy.com"
ALCHEMY_OPTIMISM_ENDPOINT="https://opt-mainnet.g.alchemy.com"
ALCHEMY_POLYGON_ENDPOINT="https://polygon-mainnet.g.alchemy.com"
ALCHEMY_ARBITRUM_ENDPOINT="https://arb-mainnet.g.alchemy.com"
ALCHEMY_BASE_ENDPOINT="https://base-mainnet.g.alchemy.com/"
ALCHEMY_AVAX_ENDPOINT="https://avax-mainnet.g.alchemy.com"

ALCHEMY_API_KEY=

# Database Configuration
POSTGRES_HOST="localhost"       # Database Host
POSTGRES_PORT="5432"            # Database Port
POSTGRES_USERNAME="postgres"    # Database Username
POSTGRES_PASSWORD="admin"       # Database Password
POSTGRES_DB="postgres"          # Database Name